<table class="FormHeaderBG" style="width: 100%">
  <tr>
    <td style="WIDTH: 10px">
    </td>
    <td colspan="2" style="TEXT-ALIGN: left">
      <span id="lblTitle" class="FormHeaderTitle" style="font-weight:normal;">{{title}}</span>
    </td>
    <td style="TEXT-ALIGN: right">
      <span id="lblCustTitle" class="FormHeaderLbl">Customer Name </span>
      <span id="lblCustVal" class="FormHeaderText">{{Header.CustomerName}}</span>
    </td>
    <td style="WIDTH: 10px">
    </td>
  </tr>
</table>
<table class="FormHeaderBG" style="width: 100%">
  <tr>
    <td style="WIDTH: 10px">
    </td>
    <td style="TEXT-ALIGN: left; width: 30%;">
      <span id="lblAccTitle" class="FormHeaderLbl">Account </span>
      <span name = "AccountNumber" id="lblAccVal" class="FormHeaderText">{{Header.AccountNumber}}</span>
      &nbsp;</td>

    <td style="TEXT-ALIGN: center; width: 30%;">
      <span id="lblAccTitle" class="FormHeaderLbl">Card number </span>
      <span name = "AccountNumber" id="lblAccVal" class="FormHeaderText">{{Header.CardNumber}}</span>
      &nbsp;</td>
    <td style="TEXT-ALIGN: center;"></td>
    <td style="TEXT-ALIGN: center;">
    </td>
    <td style="TEXT-ALIGN: right; width: 30%;">
      <span id="lblCustNTitle" class="FormHeaderLbl">Customer </span>
      <span name = "CustomerNumber" id="lblCustNVal" class="FormHeaderText">{{Header.CustomerNumber}}</span>
    </td>
    <td style="WIDTH: 10px">
    </td>
  </tr>
